.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.saveBtn {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
  border-radius: 16px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}
.avatar {
  width: 315px;
  height: 315px;
  border-radius: 50%;
  object-fit: cover;
}
.label {
  width: 315px;
  height: 315px;
  border-radius: 50%;
  background-color: rgb(213, 213, 213);
  cursor: pointer;
  z-index: 10;
  position: relative;
}
.avatarInput {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.avatar {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.avatarFile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.passport {
  padding: 15px 25px;
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
  position: relative;
  align-self: flex-start;
  border-radius: 16px;
  cursor: pointer;
}
.passportText {
  color: white;
  cursor: pointer;
}
.passportInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  padding: 0 !important;
  cursor: pointer;
}
