/*Дэфолтные настройки*/
* {
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
html,
body {
  margin: 0;
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  overflow-x: clip;
}
section {
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
p,
li,
a {
  margin: 0;
  padding: 0;
}
input,
textarea {
  font-family: "Codec Pro", sans-serif;
}
input::placeholder,
textarea::placeholder {
  font-family: "Codec Pro", sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Codec Pro", sans-serif !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #f8f8f8 !important;
  color: #292758 !important;
}
a {
  color: #292758;
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  z-index: 5;
  padding: 0;
  position: relative;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
}
button:hover {
  transition: 0.3s;
}
/*Дэфолтные настройки*/
#__next {
  width: 100%;
  height: 100%;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  display: none;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.bg1 {
  background-image: url("../assets/8150248 1.png");
}
.bg2 {
  background-image: url("../assets/8150.png");
}
.bg3 {
  background-image: url("../assets/81502434.png");
}
.bg4 {
  background-image: url("../assets/8150248545.png");
}
.bg5 {
  background-image: url("../assets/815024834.png");
}
.menu__btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  width: 48px;
  height: 48px;
  position: relative;
  margin-top: -20px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  transition-duration: 0.25s;
  right: 10px;
  border-radius: 10px;
}
.span-burger {
  border: none;
  outline: none;
}
.menu__btn > span::before {
  content: "";
  top: -10px;
  transition: 0.3s;
  right: 0;
}
.menu__btn > span::after {
  content: "";
  top: 10px;
  transition: 0.3s;
  right: 0;
}
.menu__box {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  margin: 0;
  list-style: none;
  background: rgba(22, 22, 22, 0.9);
  backdrop-filter: blur(10px);
  transition-duration: 0.25s;
  z-index: 999;
}
.hamburger-menu {
  display: none;
}
header {
  background: #292758;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}
.menu-head {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu-head-border {
  border-radius: 16px;
  border: 2px solid #fffd4f;
}
.menu-head li a {
  color: white;
  font-size: 20px;
  padding: 0 24px;
  height: 45px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 150%; /* 30px */
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.head-lean {
  display: flex;
  align-items: center;
  gap: 6px;
}
.head-lean a,
.head-lean p {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
.head-lean p {
  font-weight: 500;
}
.section-main {
  position: relative;
  border-radius: 0px 0px 100px 100px;
  background: #292758;
  padding-top: 108px;
  padding-bottom: 98px;
}
.section-main-text h1 {
  leading-trim: both;
  text-edge: cap;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 72.8px */
  color: white;
}
.section-main-text span {
  background: linear-gradient(114deg, #a088fb 0%, #b8a6fb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-main-text {
  max-width: 561px;
}
.section-main-text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  color: white;
  line-height: 150%; /* 30px */
  padding: 40px 0;
}
.btn-register {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  width: 190px;
  height: 60px;
  border-radius: 16px;
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-main-text-btns {
  display: flex;
  gap: 20px;
}
.btn-buy {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  border-radius: 16px;
  border: 2px solid #fff950;
  width: 214px;
  height: 60px;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: center;
}
.btn-buy strong {
  color: #fff950 !important;
  padding: 0 5px;
}
.section-main-container {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.section-main-container-bottom-logos {
  display: flex;
  align-items: center;
}
.section-main-container-bottom-logos img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.section-main-container-bottom-logo2 {
  margin-left: -12px;
}
.section-main-container-bottom-logo3 {
  margin-left: -24px;
}
.section-main-container-bottom {
  display: flex;
  gap: 10px;
  border-radius: 100px;
  border: 2px solid #8060f6;
  background: linear-gradient(42deg, #292758 0%, #3a1fa0 100%);
  padding: 8px 24px 8px 8px;
  width: 429px;
  align-items: center;
  margin-top: 68px;
}
.section-main-container-bottom p {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.section-main-ellipse {
  position: absolute;
  left: 0;
  top: 33px;
  z-index: 1;
}
.head-lean {
  width: 131px;
  display: flex;
  justify-content: flex-end;
}
.possibility-top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  border-radius: 16px;
  border: 2px solid #8060f6;
  background: #fff;
  cursor: pointer;
}
.possibility-top-block-part {
  display: flex;
  align-items: center;
  gap: 24px;
}
.possibility-top-block-part p {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  text-transform: uppercase;
}
.possibility-top-block-part img {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.possibility-top {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 110px;
}
.title {
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 72.8px */
}
.possibility-text p {
  leading-trim: both;
  text-edge: cap;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 60px */
  text-transform: uppercase;
  max-width: 695px;
}
.possibility-text span {
  color: #8060f6;
}
.possibility-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-top: 77px;
}
section {
  margin-top: 128px;
}
.section-main {
  margin-top: 0;
}
.title span {
  color: #8060f6;
}
.pluses-container-block-small {
  border-radius: 32px;
  border: 2px solid #8060f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 432px;
  height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
  padding: 32px;
}
.pluses-container-block-small p {
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 48px */
  text-transform: uppercase;
}
.pluses-container-block-small span {
  display: flex;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    42deg,
    rgba(160, 136, 251, 1) 0%,
    rgba(184, 166, 251, 1) 100%
  );
}
.pluses-container-block-big {
  border-radius: 32px;
  border: 2px solid #8060f6;
  width: 432px;
  height: 456px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: linear-gradient(
    42deg,
    rgba(41, 39, 88, 1) 0%,
    rgba(58, 31, 160, 1) 100%
  );
}
.pluses-container-block-big h3 {
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
  text-transform: uppercase;
}
.pluses-container-block-big span {
  width: 100%;
  height: 2px;
  display: flex;
  background: linear-gradient(
    42deg,
    rgba(255, 253, 79, 1) 0%,
    rgba(255, 194, 79, 1) 100%
  );
}
.pluses-container-block-big p {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
}
.pluses-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  margin-top: 80px;
}
.possibility,
.pluses {
  position: relative;
}
.pluses-ellipse {
  position: absolute;
  top: 83px;
  left: 50%;
  margin-left: -332px;
  z-index: 1;
}
.possibility-ellipse {
  right: 0;
  top: 211px;
  position: absolute;
  z-index: 1;
}
.guests-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
.guests-container-bottom p {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  max-width: 597px;
}
.guests-container-bottom span {
  color: #8060f6;
}
.guests-container-bottom h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  max-width: 548px;
}
.guests-container-bottom {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
}
.different-taste-img {
  position: absolute;
  top: 0;
  left: 0;
}
.different-taste-text {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;
  padding-top: 360px;
}
.different-taste-text p {
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 83.2px */
}
.different-taste-text span {
  color: #8060f6;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 83.2px */
}
.different-taste-ellipse {
  position: absolute;
  left: 101px;
  top: 218px;
  z-index: -1;
}
.different-taste {
  position: relative;
}
.plans-mini-block h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
  text-transform: uppercase;
}
.plans-mini-block h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
  padding-top: 32px;
  padding-bottom: 8px;
}
.plans-mini-block h5 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 8px;
}
.plans-mini-block span {
  color: #8060f6;
}
.plans-mini-block-content-part-ellipse {
  border-radius: 50px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #292758;
}
.plans-mini-block-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  border-top: 2px solid rgba(128, 96, 246, 1);
}
.plans {
  margin-top: 542px;
}
.plans-container {
  padding-top: 100px;
}
.plans-mini-block {
  padding: 32px 40px;
  border-radius: 32px;
  background: white;
  width: 432px;
  box-shadow: 0px 62px 72px 0px rgba(6, 0, 22, 0.03),
    0px 24.63px 31.388px 0px rgba(6, 0, 22, 0.02),
    0px 6.006px 11.7px 0px rgba(6, 0, 22, 0.02),
    0px -0.121px 4.162px 0px rgba(6, 0, 22, 0.01);
}
.plans-mini-block-content-part p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
}
.plans-mini-block-content-part {
  display: flex;
  align-items: center;
  gap: 16px;
}
.plans-mini-block button {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 352px;
  border-radius: 16px;
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
  margin-top: 32px;
}
.plans-big-block {
  border: 2px solid #8060f6;
  background: linear-gradient(42deg, #292758 0%, #3a1fa0 100%);
  box-shadow: 0px 62px 72px 0px rgba(6, 0, 22, 0.03),
    0px 24.63px 31.388px 0px rgba(6, 0, 22, 0.02),
    0px 6.006px 11.7px 0px rgba(6, 0, 22, 0.02),
    0px -0.121px 4.162px 0px rgba(6, 0, 22, 0.01);
}
.plans-big-block h3,
.plans-big-block h4,
.plans-big-block h5,
.plans-big-block p {
  color: white;
}
.plans-big-block span {
  color: #fff950;
}
.plans-big-block
  > .plans-mini-block-content
  > .plans-mini-block-content-part
  > .plans-mini-block-content-part-ellipse {
  background: white;
}
.plans-mini-block-content-text {
  color: #f8f8f8;
  padding: 8px 16px;
  border-radius: 16px;
  background: rgba(128, 96, 246, 0.2);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
}
.plans-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.plans-ellipse {
  top: 158px;
  position: absolute;
  left: 50%;
  margin-left: -515px;
}
.why-we {
  position: relative;
}
.why-we-ellipse {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  position: absolute;
}
.why-we-title {
  padding-top: 64px;
}
.why-we-container-block {
  border-radius: 32px;
  border: 2px solid #8060f6;
  height: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px 32px;
}
.why-we-container-block1 {
  width: 432px;
}
.why-we-container-block2 {
  width: 547px;
}
.why-we-container-block3 {
  width: 315px;
}
.why-we-container-block span {
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px; /* 93.6px */
  background: linear-gradient(95deg, #fffd4f 0.23%, #ffc24f 100.23%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.why-we-container-block p {
  color: white;
  padding-top: 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  text-transform: uppercase;
}
.why-we-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 31px;
  padding-top: 80px;
}
.how-start-block {
  padding: 32px 40px;
  border-radius: 32px;
  background: white;
  width: 664px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: 0px 62px 72px 0px rgba(6, 0, 22, 0.03),
    0px 24.63px 31.388px 0px rgba(6, 0, 22, 0.02),
    0px 6.006px 11.7px 0px rgba(6, 0, 22, 0.02),
    0px -0.121px 4.162px 0px rgba(6, 0, 22, 0.01);
}
.how-start-block h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
  text-transform: uppercase;
}
.how-start-block p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
}
.how-start-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding-top: 100px;
}
.how-start-ellipse {
  position: absolute;
  top: 158px;
  left: 50%;
  margin-left: -520px;
  z-index: -1;
}
.btn-register-how-start {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  text-transform: uppercase;
  margin-top: 64px;
  border-radius: 16px;
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
  width: 304px;
  height: 61px;
}
.footer-container-left a {
  background: linear-gradient(114deg, #a088fb 0%, #b8a6fb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-container-left h5 {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
}
footer {
  background: #131313;
  padding: 64px 0;
  margin-top: 129px;
}
.footer-container-left p {
  padding-top: 24px;
  padding-bottom: 20px;
  max-width: 279px;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 21px */
}
.footer-container-block h3 {
  background: linear-gradient(114deg, #a088fb 0%, #b8a6fb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
  padding-bottom: 40px;
}
.footer-container-block ul li a {
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 18px */
}
.footer-container-block ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 262px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.btn-register-footer {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  width: 190px;
  height: 60px;
  border-radius: 16px;
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 30px;
  padding-bottom: 54px;
}
.footer-container-right p {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
}
.footer-link {
  background: linear-gradient(114deg, #a088fb 0%, #b8a6fb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.footer-container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.different-taste-img {
  z-index: -1;
}
.lk-top-img img {
  width: 315px;
  height: 315px;
  object-fit: cover;
}
.lk-top-text h3 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 72.8px */
}
.lk-top-text p {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
  text-transform: uppercase;
  padding-top: 32px;
  padding-bottom: 10px;
}
.lk-top-text span {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
}
.lk-top {
  display: flex;
  align-items: center;
  gap: 72px;
  justify-content: center;
}
.btn-lk-balance {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  border-radius: 16px;
  height: 61px;
  width: 848px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
}
.lk-content input {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  height: 76px;
  width: 100%;
  border-radius: 16px;
  border: 2px solid #8060f6;
  background: #fff;
  padding: 20px 32px;
}
.lk-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 70px;
}
.lk-content button {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
  border-radius: 16px;
  width: 854px;
  height: 61px;
}
.lk-top-text h5 {
  border-radius: 16px;
  border: 2px solid #21ea00;
  background: white;
  padding: 8px 32px;
  width: 463px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  text-transform: uppercase;
  margin-top: 32px;
  gap: 20px;
}
.lk-top-text h5.red {
  border-color: red;

  path {
    stroke: red;
  }
}
.videochat-top {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  border-radius: 0px 0px 12px 12px;
  background: #292758;
  padding: 15px 24px 15px 8px;
  width: 100%;
  text-align: center;
}
.videochat-top a {
  text-decoration-line: underline;
  color: white;
}
.videochat {
  margin-top: 0;
}
header {
  border-bottom: 1px solid #ac97fc;
}
.videochat-content-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.videochat-content {
  width: 100%;
  height: 750px;
  position: relative;
  margin-top: 47px;
  border-radius: 12px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.videochat-content-chat {
  height: 100%;
  position: relative;
  z-index: 5;
  border-radius: 12px;
  background: rgba(21, 0, 97, 0.2);
  backdrop-filter: blur(15px);
  width: 348px;
}
.videochat-content-chat-message-block span {
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 3px;
}
.videochat-content-chat-message-block p {
  padding: 10px 16px;
  border-radius: 16px;
  background: #fff;
  color: #292d32;
  width: 272px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 6px;
}
.videochat-content-chat-message-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.videochat-content-chat-message {
  height: 88%;
  overflow-y: scroll;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.videochat-content-chat-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px;
}
.videochat-content-chat-bottom input {
  border-radius: 20px;
  border: 1px solid #ecebeb;
  background: white;
  width: 248px;
  height: 40px;
  color: #7a7a7a;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding: 16px;
  line-height: normal;
}
.btn-catalog {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  width: 352px;
  height: 60px;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
}
.videochat-content-hidden {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: rgba(44, 44, 44, 0.5);
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  z-index: 9999999;
  justify-content: center;
}
.videochat-content-hidden p {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 72.8px */
  max-width: 888px;
}
.videochat-content-hidden a {
  border-radius: 16px;
  width: 888px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
}
.catalog-title {
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 54.6px */
  padding: 50px 0;
}
.catalog {
  margin-top: 0 !important;
}
.catalog-container-block {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 32px;
  border: 2px solid #8060f6;
  width: 432px;
  padding: 24px 32px;
}
.catalog-container-block img {
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
  height: 181px;
}
.catalog-container-block-line {
  display: flex;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(160, 136, 251, 1);
  margin-bottom: 15px;
}
.catalog-container-block-line p {
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
  text-transform: uppercase;
}
.catalog-container-block-line span {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
}
.catalog-container-block button {
  width: 100%;
  height: 60px;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(95deg, #8060f6 0.23%, #a088fb 100.23%);
  line-height: 150%; /* 30px */
}
.catalog-container-block-line {
  justify-content: space-between;
}
.catalog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 31px;
  justify-content: center;
}
.menu-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.link-profile {
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 960px) {
  .profile {
    display: none;
  }
}
.profile {
}
